<div class="card m-3">
  <h5 class="card-header">Reactive Form Example</h5>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">

        <div class="form-group col-5">
          <label>Etunimi</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Etunimi vaaditaan</div>
          </div>
        </div>

        <div class="form-group col-5">
          <label>Sukunimi</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Sukunimi vaaditaan</div>
          </div>
        </div>

      <div class="form-group col-5">
        <label>Käyttäjätunnus</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Käyttäjätunnus vaaditaan</div>
          <div *ngIf="f.username.errors.minlength">Käyttäjätunnus pitää olla vähintään 6 merkkiä</div>

        </div>
      </div>

        <div class="form-group col-5">
          <label>Henkilötunnus</label>
          <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
          <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
            <div *ngIf="f.id.errors.required">Henkilötunnus vaaditaan</div>
            <div *ngIf="f.id.errors.pattern">Henkilötunnus ei ole validi</div>

          </div>
        </div>

      </div>

      <div class="form-group">
        <label>Sähköposti</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Sähköposti vaaditaan</div>
          <div *ngIf="f.email.errors.email">Tarkista sähköposti.</div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>Salasana</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Salasana vaaditaan</div>
            <div *ngIf="f.password.errors.pattern">Salasanan pituus on vähintään 10 merkkiä. Salasanassa on oltava myös numeroita ja isoja kirjaimia.</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Vahvista salasana</label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Salasanan vavhistus vaaditaan.</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Salasanat eivät täsmää</div>
          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
        <label for="acceptTerms" class="form-check-label">Hyväksyn käyttöehdot</label>
        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Et hyväksynyt käyttöehtoja.</div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Rekisteröidy</button>
      </div>
    </form>
  </div>
</div>

